@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(./images/black-gold.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Castoro', serif;
   
}



body {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    color: tan;
    font-size: 1.0rem;
    min-height: 100vh;
    width: 100%;


}

body,
header,
div,
aside,
article,
section,
footer {
    display: block;
}

#main-header {
    background: #000;

}
nav{
    margin:0 auto 10px;
    max-width:1000px;
    height:60px;
}
nav>ul{
    list-style:none;
    float:right;
    display:flex;
    margin-top:.75em;
}
nav>ul>li{
    padding:2em;
}
nav>ul>li>a{
    color:#fff;
    text-decoration:none;
    font-size: medium;
    font-weight:600;
}
nav>ul>li>a:hover{
    color:teal;
    cursor:pointer;
}

aside>ol>li {
    line-height: 2.0;

}

aside>ol>li>a {
    color: teal;
}

aside>ol>li>a:hover {
    color: #fff;
}

aside>ol>li>a:active {
    color: red;

}
aside> .list-layout{
    margin-left:1.5em;
}
#btn {
    padding: 5px;
    border: none;
    font-family: 'Castoro', serif;
    font-size: 1em;
    background-color: rgba(210, 180, 140, 0.603);
}

#btn:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 128, 0.329);
    color: rgb(250, 250, 250);
}

#left-menu {
    float: left;
    margin-bottom: 20px;
    width: 30%;
   
}

.searchbox {
    margin: 10px 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #000;
    outline: none;

}

.searchbox::placeholder {
    font-size: 1rem;
    color: #B2B2B2;
    text-align: center;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 50px;
    height: 30px;
    background-color: tan;
    padding: 5px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Castoro', serif;
}

footer {
    clear: both;
    width: 100%;
}

footer>p>a {
    color: teal;
}

footer>p>a:hover {
    color: #fff;
}

article>section>.wrapper {
    display: flex;
    flex: 1;
    gap: 10%;
    max-width: 700px;
    text-align: center;
}

.wrapper>.iced-car {
    width: 60%;
    background: rgba(210, 180, 140, 0.452);
}

.wrapper>.iced-car>img {
    height: 250px;
    width: 200px;
    border: 1px solid #000;
    margin-top: 25px;
}

.wrapper>.iced-car>div>p {
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.wrapper>.iced-car>button {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.wrapper>.iced-car>button:hover {
    background: rgba(0, 128, 128, 0.616);
    cursor: pointer;
    color: #fff;
}

button[type="submit"] {
    width: 170px;
    height: 50px;
    padding: 5px;
    background: rgba(0, 128, 128, 0.301);
    color: #fff;
    border-radius: 5px;

}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 5px;
    width: 44%;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

input:focus:invalid {
    border-color: black;
}

select {
    background: rgba(0, 128, 128, 0.301);
    width: 50%;
    height: 40%;
    color: #fff;
}

fieldset {
    border: 3px solid rgba(210, 180, 140, 0.767);
    background: #1c1616d2;
}

p>label {
    display: block;
}

/*media queries */
@media only screen and (min-width:.64rem) {
    nav{
        margin:0 auto 10px;
        max-width:1000px;
        height:70px;
    }
    
}
@media only screen and (min-width:.48rem) {
    nav{
        margin:0 auto 10px;
        max-width:1000px;
        height:70px;
        
    }
     :root{
        background: url(./images/black-gold.jpg) ;
    
        background-size: cover;
        background-repeat: no-repeat;
      
        font-family: 'Castoro', serif;
        width:100%;
     }
    
  /* body {
   
       
    
    
    }*/
   
    
}